.favour {
	margin-top: 15px;
	margin-bottom: 15px;
	.item-favour {
		text-align: center;
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		.wrapper {
			.text {
				color: #fff;
			}

			i {color: #fff;}
		}

	}

	.gift {
		.wrapper {
			padding: 10px;
			border-radius: 0;
			background-color: #c97278;
			.text {text-transform: uppercase;}
		}
	}

	.free-ship {
		.wrapper {
			padding: 10px;
			border-radius: 0;
			background-color: #7f8fa0;
			.text {text-transform: uppercase;}
		}
	}
}

.list-product {
	.product {
		margin-bottom: 15px;
		.card {
			height: 100%;
			.card-body {
				background-color: #f5f5f5;
				text-align: center;
				.card-title {
					font-size: 17px;
				}

				.card-text {
					text-align: center;
					.price-sale {
						color: #f00;
						font-weight: bold;
					}

					.price-primary {
						color: #a49b9b;
					}
				}
			}
		}
	}
}

.menu-client {
	.navbar-brand {color: #333;text-transform: uppercase;font-weight: bold;}
	.navbar-nav {
		.nav-item {
			.nav-link {
				color: #333;text-transform: uppercase;
			}
		}
	}
}

.list-info, .list-social {
	padding-left: 0;
	li {list-style: none;}
}

.list-social {
	width: 100%;
	display: block;
	text-align: right;
	li {
		display: inline-block;
		padding-left: 10px;
		i{font-size: 25px;}
	}

	.fa-facebook {color: indigo;}
	.fa-instagram {color: orange;}
	.fa-twitter {color: blue;}
}

.copy-right {
	display: block;
	width: 100%;
	text-align: right;
}

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.username {font-weight: bold;}

.navbar-brand {
	border: 2px solid #000;
	padding: 5px;
}

.page-title {
	background-color: #000;
    padding: 30px 0px;
    margin-bottom: 50px;
	.title {color: #fff;text-transform: uppercase;margin-bottom: 0;font-size: 16px;}
}

.single-product {
	.product-image {
		img {width: 100%;}
	}

	.product-info {
		.product-name {font-size: 32px;text-transform: capitalize;color:#000;}

		.product-code {
			font-style: italic;
			font-family: 'Roboto Condensed Italic';
			font-size: 18px;
		}

		.price {
			.current-price {
				font-size: 32px;color:#f00;
			}

			.old-price {color: #a49b9b;font-size: 20px;}
		}

		.short-description {font-size: 16px; text-align: justify;}

		.btn-add-to-cart {margin-left: 15px;}
	}

	.description {
		margin-top: 30px;
		font-size: 16px; text-align: justify;
		h3 {text-transform: uppercase;border-bottom: 1px solid #ccc;}
	}
}

.cart {
	.list-product {
		border-bottom: 1px solid #ccc;
		th {text-align: center;}
		tr {
			td {vertical-align: middle; text-align: center;}
			input {text-align: center;}
		}
	}
}

.checkout {
	form {
		display: flex;
		.flex-1 {flex:1;}
	}

	.title-checkout {
		text-transform: uppercase;
		color: #000;
	}

	.info-customer {
		padding-right: 15px;
	}

	.info-cart {
		padding-left: 15px;

		.total {
			.text {
				text-transform: uppercase;
				color: #000;
			}

			td {vertical-align: middle;}

			.price {
				font-size: 20px;
				font-weight: bold;
				color: #f00;
			}
		}
	}
}