.favour {
  margin-top: 15px;
  margin-bottom: 15px; }
  .favour .item-favour {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px; }
    .favour .item-favour .wrapper .text {
      color: #fff; }
    .favour .item-favour .wrapper i {
      color: #fff; }
  .favour .gift .wrapper {
    padding: 10px;
    border-radius: 0;
    background-color: #c97278; }
    .favour .gift .wrapper .text {
      text-transform: uppercase; }
  .favour .free-ship .wrapper {
    padding: 10px;
    border-radius: 0;
    background-color: #7f8fa0; }
    .favour .free-ship .wrapper .text {
      text-transform: uppercase; }

.list-product .product {
  margin-bottom: 15px; }
  .list-product .product .card {
    height: 100%; }
    .list-product .product .card .card-body {
      background-color: #f5f5f5;
      text-align: center; }
      .list-product .product .card .card-body .card-title {
        font-size: 17px; }
      .list-product .product .card .card-body .card-text {
        text-align: center; }
        .list-product .product .card .card-body .card-text .price-sale {
          color: #f00;
          font-weight: bold; }
        .list-product .product .card .card-body .card-text .price-primary {
          color: #a49b9b; }

.menu-client .navbar-brand {
  color: #333;
  text-transform: uppercase;
  font-weight: bold; }

.menu-client .navbar-nav .nav-item .nav-link {
  color: #333;
  text-transform: uppercase; }

.list-info, .list-social {
  padding-left: 0; }
  .list-info li, .list-social li {
    list-style: none; }

.list-social {
  width: 100%;
  display: block;
  text-align: right; }
  .list-social li {
    display: inline-block;
    padding-left: 10px; }
    .list-social li i {
      font-size: 25px; }
  .list-social .fa-facebook {
    color: indigo; }
  .list-social .fa-instagram {
    color: orange; }
  .list-social .fa-twitter {
    color: blue; }

.copy-right {
  display: block;
  width: 100%;
  text-align: right; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px; }

.username {
  font-weight: bold; }

.navbar-brand {
  border: 2px solid #000;
  padding: 5px; }

.page-title {
  background-color: #000;
  padding: 30px 0px;
  margin-bottom: 50px; }
  .page-title .title {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 16px; }

.single-product .product-image img {
  width: 100%; }

.single-product .product-info .product-name {
  font-size: 32px;
  text-transform: capitalize;
  color: #000; }

.single-product .product-info .product-code {
  font-style: italic;
  font-family: 'Roboto Condensed Italic';
  font-size: 18px; }

.single-product .product-info .price .current-price {
  font-size: 32px;
  color: #f00; }

.single-product .product-info .price .old-price {
  color: #a49b9b;
  font-size: 20px; }

.single-product .product-info .short-description {
  font-size: 16px;
  text-align: justify; }

.single-product .product-info .btn-add-to-cart {
  margin-left: 15px; }

.single-product .description {
  margin-top: 30px;
  font-size: 16px;
  text-align: justify; }
  .single-product .description h3 {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc; }

.cart .list-product {
  border-bottom: 1px solid #ccc; }
  .cart .list-product th {
    text-align: center; }
  .cart .list-product tr td {
    vertical-align: middle;
    text-align: center; }
  .cart .list-product tr input {
    text-align: center; }

.checkout form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .checkout form .flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.checkout .title-checkout {
  text-transform: uppercase;
  color: #000; }

.checkout .info-customer {
  padding-right: 15px; }

.checkout .info-cart {
  padding-left: 15px; }
  .checkout .info-cart .total .text {
    text-transform: uppercase;
    color: #000; }
  .checkout .info-cart .total td {
    vertical-align: middle; }
  .checkout .info-cart .total .price {
    font-size: 20px;
    font-weight: bold;
    color: #f00; }
